/rsync.sh
/lsyncd.conf.lua
/config/Speech-ba6281533dc8.json
/config/config.json
/config/config.json.prod
/config/s3.creds.ini
/config/redis_input.txt.prod
/config/INFLUXDB_PASSWORD
/CreateThumbnail-data.json
/build
.*.swp
